@using Health.Site.Areas.Admin.Models
@model CandidateForm

@{
    ViewBag.Title = "Заявка на регистрацию";
}

<h2>@ViewBag.Title</h2>
<p>@Model.Message</p>
<p>@Html.DisplayFor(m => m.Candidate)</p>