@using Health.Site.Areas.Admin.Models
@model CandidateForm

@{
    ViewBag.Title = "Подробная информация о кандидате";
}

<h2>@ViewBag.Title</h2>

@section page_menu{
    <p>@Html.RouteLink("Принять заявку", "Admin_default", new
                                                             {
                                                                 id = Model.Candidate.Id,
                                                                 controller = "Candidates",
                                                                 action = "AcceptBid"
                                                             })</p>
    <p>@Html.RouteLink("Отклонить заявку", "Admin_default", new
                                                               {
                                                                   id = Model.Candidate.Id,
                                                                   controller = "Candidates",
                                                                   action = "RejectBid"
                                                               })</p>
}

@Html.DisplayFor(m => m.Candidate)