@using Health.Core.Entities.POCO
@{
    ViewBag.Title = "Выбор параметра";
}

<h2>Редактирование параметров</h2>
<h5>Выберите нужный вам параметр из следующего списка, 
и кликните на необходимое вам действие</h5>

<table border="1" cellspacing="1">
<tr><th>Id</th>
<th>Name</th>
<th colspan="2">Действие</th></tr>
@{
    IList<Parameter> parameters = ViewData["Parameters"] as IList<Parameter>;
    if(parameters != null)
    {
        foreach (Parameter parameter in parameters)
        {
            <tr><td>@parameter.Id</td>
            <td>@parameter.Name</td>
            <td>@Html.RouteLink("Ред.", "Admin_default", new
           {
               id = parameter.Id,
               controller = "Parameters",
               action = "Edit"
           }) </td>
           <td>
                @Html.RouteLink("Удал.", "Admin_default", new
                {id = parameter.Id,
                controller = "Parameters",
               action = "Delete"})</td></tr>
        }
    }
    else
    {
        <tr><td>Ошибка</td><td>Параметров нет.</td></tr>
    }
}
</table>


