<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Health.EFData.Properties.Settings.health_altConnectionString"
            connectionString="Data Source=.;Initial Catalog=health_alt;Persist Security Info=True;User ID=user;Password=zzz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>