@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page_container">   
    @if (IsSectionDefined("module_menu"))
    {
        <div id="main_page_menu">            
            <h2>Меню модуля</h2>
            @RenderSection("module_menu", false)
            @if (IsSectionDefined("page_menu"))
            {
                <div id="page_menu">
                    @RenderSection("page_menu", false)
                </div>
            }
        </div>
    }
    <div id="page_content">        
        @RenderBody()
    </div>
</div>