@model DefaultScheduleList

@using System.Collections
@using Health.Core.Entities.POCO
@using Health.Site.Areas.Schedule.Models
@using Health.Site.Helpers;

@{
    ViewBag.Title = "Дефолтные расписания.";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Добавить новое расписание..", "Add", "Default")</p>

@Html.Partial("_DefaultTableControl", Model.DefaultSchedules)