<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="LogToFile" createDirs="true"
            fileName="${basedir}/Log/${shortdate}/log_for_${date:format=HH_mm}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogToFile" />
  </rules>
</nlog>