<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Modernizr" version="1.7" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="WebActivator" version="1.4.1" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.NinjectAdapter" version="1.0.0.0" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NLog.Config" version="2.0.0.2000" />
  <package id="NLog.Schema" version="2.0.0.2000" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="elmah" version="1.2.0.1" />
  <package id="Glimpse" version="0.84" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Glimpse.Elmah" version="0.9.5" />
  <package id="Glimpse.Mvc3" version="0.84" />
  <package id="jQuery.vsdoc" version="1.6" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.UI.Combined" version="1.8.14" />
  <package id="jQuery" version="1.6.2" />
</packages>