@{
    Layout = null;
}
@using Health.Site.Models
@model List<MenuElement>

<li>Здраствуй, @ViewBag.Login.</li>

@foreach (MenuElement element in Model)
{
    <li>
        @Html.ActionLink(element.Title, element.Action, element.Controller, new {area = element.Area}, null)
    </li>
}