@using Health.Site.Areas.Schedules.Models
@model PersonalScheduleForm

@{
    ViewBag.Title = "Подтверждение";
}

<h2>@Model.Message</h2>

@Html.Partial("_PersonalScheduleDisplay")

@section page_menu{
    <p>@Html.ActionLink("Добавить новое расписание", "Add", "Personal")</p>
    <p>@Html.RouteLink("Редактировать добавленное", "Schedules_default", new {schedule_id = Model.PersonalSchedule.Id})</p>
}