@using Health.Site.Areas.Schedules.Models
@model PersonalScheduleForm

@{
    ViewBag.Title = "Редактирование персонального расписания";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.PersonalSchedule.Id)
    @Html.Partial("_PersonalScheduleForm")
    <p><input type="submit" value="Send" /></p>
}