@using Health.Site.Areas.Schedules.Models
@model PersonalScheduleList
@{
    ViewBag.Title = "Персональные расписания.";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_PersonalList", Model.PersonalSchedules)
