@using Health.Core.Entities.POCO
@using Health.Site.Areas.Account.Models
@using Health.Site.Extensions
@using Health.Site.Helpers
@model AccountViewModel

@{
    ViewBag.Title = "Interview";
}

<h2>Interview</h2>

@using (Html.BeginForm(new {area = "Account", controller = "Interview", action = "InterviewSubmit"}))
{
    @*Html.RenderParameters(Model.InterviewForm, Model.PropertyName(p => p.InterviewForm))*@
    for (int i = 0; i < Model.InterviewForm.Parameters.Count; i++)
    {        
        @Html.EditorFor(m => m.InterviewForm.Parameters[i])
    }
    @Html.AntiForgeryToken()
    <input type="submit" value="Send" />
}