@using Health.Core.Entities
@using Health.Core.Entities.POCO
@using Health.Site.Models
@model CoreViewModel
@{
    ViewBag.Title = "Домашняя страница";
}

<h2>@ViewBag.Message</h2>

<p>@Html.RouteLink("Test", new { area = "", controller = "Test", action = "Index" })</p>