@{
    ViewBag.Title = "Редакирование параметров";
}

<h2>Проект редактирования параметров здоровья человека</h2>
<p>Здесь можно создать новые параметры, редактировать и удалять существующие.</p>
@{
    <p>@Html.RouteLink("Просмотреть все параметры", new { area = "Parameters", controller = "Home", action = "ShowAll" }) </p>
    <p>@Html.RouteLink("Добавить новый параметр", new { area = "Parameters", controller = "Add", action = "Index" })</p>
    <p>@Html.RouteLink("Редактирование и удаление параметров", new { area = "Parameters", controller = "Editing", action = "Index" })</p>
    <p>@Html.RouteLink("Тестовая страничка", new { area = "Parameters", controller = "Test", action = "Index" })</p>
}
