@model Health.Site.Areas.Parameters.Models.ParametersViewModel

@{
    ViewBag.Title = "ShowAll";
    
}

<h2>Таблица просмотра всех параметров</h2>
<table border="1" cellspacing="1">

    @foreach (var item in Model.parameters)
    {
        <tr><td style='font-weight: bold; font-size: 16pt;'>
        
        @Html.DisplayFor(i => item.Name);
        </td></tr><tr><td>
        Meta-data: 
         @if (item.MetaData.Id_parent == null)
         {
             <p>Категория</p>
             @Html.DisplayFor(j => item.MetaData.Id_cat)
             <br/>
             
             <p>Обязательность</p>
             @Html.DisplayFor(с => item.MetaData.Obligation)
             <br/>
             
             <p>Период -</p>
             if (item.MetaData.period == null)
             {
                <p>Нет</p>
             }
             else
             {
                 @Html.DisplayFor(d => item.MetaData.period)
             }
             <br /></td>
             
         }
       </tr>
    }
    


    

    
</table>
