<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prototype.Properties.Settings.Health_MsSqlDatabaseConnectionString"
            connectionString="Data Source=.;Initial Catalog=Health.MsSqlDatabase;Persist Security Info=True;User ID=user;Password=zzz;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>