@using Health.Core.Entities.POCO
@{
    ViewBag.Title = "Выбор параметра";
}

<h2>Редактирование параметров</h2>
<h5>Выберите нужный вам параметр из следующего списка, 
и кликните на необходимое вам действие</h5>

<table border="1" cellspacing="1">
<tr><th>Id</th>
<th>Name</th>
<th colspan="2">Действие</th></tr>
@{
    IList<Parameter> parameters = ViewData["Parameters"] as IList<Parameter>;
    if(parameters != null)
    {
        foreach (Parameter parameter in parameters)
        {
            <tr><td>@parameter.Id</td>
            <td>@parameter.Name</td>
            <td>@Html.RouteLink("Ред.", "Parameters_Editing_Edit", new
           {
           parameter_id = parameter.Id}) </td>
           <td>
                Удал.</td></tr>
        }
    }
    else
    {
        <tr><td>Ошибка</td></tr>
    }
}
</table>


