@using Health.Site.Areas.Admin.Models
@model DoctorForm

@{
    ViewBag.Title = "Добавление доктора";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_DoctorForm")
    <input type="submit" value="Send"/>
}