@using Health.Site.Areas.Admin.Models
@model DoctorForm

@{
    ViewBag.Title = "Привязка докторов и пациентов.";
}

<h2>@ViewBag.Title</h2>

<h2>@Model.Doctor.FullName - @Model.Doctor.Specialty.Name</h2>

<table>
    <td></td>
</table>