@using Health.Site.Areas.Admin.Models
@model DoctorForm

@{
    ViewBag.Title = "Информация о докторе";
}

<h2>Информация о докторе</h2>

@Html.DisplayFor(m => m.Doctor)

@section page_menu {
    <p>@Html.RouteLink("Редактировать доктора", "Admin_default", new { id = Model.Doctor.Id, controller = "Doctor", action = "Edit" })</p>
    <p>@Html.RouteLink("Редактировать расписание доктора", "Admin_default", new { id = Model.Doctor.Id, controller = "Doctor", action = "Schedule/Edit" })</p>
}