@using Health.Site.Areas.Schedules.Models
@model DefaultScheduleForm

@{
    ViewBag.Title = "Добавление дефолтного расписания";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddSubmit", "Default"))
{
    @Html.Partial("_DefaultScheduleForm")
    <p><input type="submit" value="Сохранить"/></p>
}