@using Health.Site.Areas.Schedules.Models
@model DefaultScheduleForm

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_DefaultScheduleForm")
    <p><input type="submit" value="Сохранить"/></p>
}
