@using Health.Site.Areas.Schedules.Models
@model DefaultScheduleForm

@{
    ViewBag.Title = "Редактирование дефолтного расписания";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Model.DefaultSchedule.Parameter.Name</legend>
        @Html.HiddenFor(m => m.DefaultSchedule.Id)
        @Html.Partial("_DefaultScheduleForm")
    </fieldset>
    <p><input type="submit" value="Сохранить"/></p>
}