@model DefaultScheduleList
@using Health.Site.Areas.Schedules.Models

@{
    ViewBag.Title = "Дефолтные расписания.";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Добавить новое расписание..", "Add", "Default")</p>

@Html.Partial("_DefaultScheduleList", Model.DefaultSchedules)