@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Кандидаты", "List", "Candidates")</p>
<p>@Html.RouteLink("Пользователи", new { area = "Admin", controller = "Users", action = "Index" })</p>
