@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.RouteLink("Кандидаты", new { area = "Candidate", controller = "Home", action = "Index" })</p>
<p>@Html.RouteLink("Пользователи", new { area = "Admin", controller = "Users", action = "Index" })</p>
