@model Health.Site.Areas.Parameters.Models.ParametersViewModel

@{
    ViewBag.Title = "Confirm";
}

<h2>@ViewData["Result"]</h2>
<p>@Html.RouteLink("Вернуться к редактированию", new { area = "Parameters", controller = "Home", action = "Index" }) </p>
