@using Health.Site.Areas.Admin.Models
@model UserList

@{
    ViewBag.Title = "Список ползователей";
}

<h2>Список пользователей</h2>

@Html.Partial("_UsersList", Model.Users)

@section page_menu{
    <p>    
        @using (Html.BeginForm("Add", "Users", new { area = "Admin" }))
        {
            <input type="submit" value="Добавить нового" />
            @Html.DropDownListFor(m => m.Role.Name, Model.RolesSelectList)
        }
    </p>
}