@using Health.Site.Areas.Admin.Models
@model PatientForm

@{
    ViewBag.Title = "Добвление пациента";
}

<h2>Добвление пациента</h2>

@using (Html.BeginForm("AddSubmit", "Patients", new { area = "Admin" }))
{
    @Html.EditorFor(m => m.Patient)
    <input type="submit" value="Создать"/>
}