@using Health.Site.Areas.Admin.Models.Patients
@model PatientsForm
@{
    ViewBag.Title = "Результат";
}

<h2>Результат</h2>

@Html.Partial("_PatientsDisplay")

<p>@Html.RouteLink("Добавить нового пациента", new { area = "Admin", controller = "Patients", action = "Add" })</p>
<p>@Html.RouteLink("Перейти к списку пользователей", new { area = "Admin", controller = "Users", action = "Index" })</p>