@using Health.Site.Areas.Admin.Models
@model PatientForm
@{
    ViewBag.Title = "Результат";
}

<h2>Результат</h2>

@Html.DisplayFor(m => m.Patient)

<p>@Html.ActionLink("Добавить нового пациента", "Add", "Patients")</p>
<p>@Html.ActionLink("Перейти к списку пользователей", "List", "Users")</p>