@using Health.Site.Areas.Admin.Models
@model PatientForm

@{
    ViewBag.Title = "Редактирование пациента";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Patient.Id)
    @Html.Partial("_PatientForm")
    <input type="submit" value="Send"/>
}